<!--
  Generated template for the ConversationPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
<button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Chat
  </ion-title>
  <ion-buttons end>
 
    <button (click)="addMarker()">
    {{currentUser.content.name}} {{currentUser.content.lastname}}
    </button>
  </ion-buttons>  
</ion-navbar>

<ion-content class="conversation">
  <div class="chat">
          <div class="chat-container">
           
            <div class="conversation">
              <div class="conversation-container">
                <!-- <div class="message sent">
                  What happened last night?
                  <span class="metadata">
                      <span class="time"></span><span class="tick"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7"/></svg></span>
                  </span>
                </div> -->

                <!-- <div class="message received">
                  You were drunk.
                  <span class="metadata"><span class="time"></span></span>
                </div> -->
                <div class="message " [ngClass]="isMessageCreator(oneMessage.origin)" *ngFor="let oneMessage of wholeConversation">
                  {{oneMessage.message}}
                  <span class="metadata"><span class="time"></span></span>
                </div>
                <!-- <div class="message sent">
                  No I wasn't.
                  <span class="metadata">
                      <span class="time"></span><span class="tick"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7"/></svg></span>
                  </span>
                </div> -->
                
                <!-- <div class="message received">
                  <span id="random">You were hugging an old man with a beard screaming "DUMBLEDORE YOU'RE ALIVE!"</span>
                  <span class="metadata"><span class="time"></span></span>
                </div> -->
              </div>
              <form class="conversation-compose">
                
                <input class="input-msg" id="chatMessage" style="margin-left:20px" name="input" placeholder="Type a message" autocomplete="off" autofocus [(ngModel)]="chat.message">
                <div class="photo">
                  
                </div>
                <a href="#" class="send" (click)="sendMessage();">
                    <div class="circle">
                    <ion-icon name="arrow-dropright"></ion-icon>    
                      
                    </div>
                 </a>
              </form>
</div>
</div>
</div>    
</ion-content>
