<!--
  Generated template for the RegistrationScreenPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
<button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Crear cuenta
  </ion-title>
  
</ion-navbar>

<ion-content padding class="registration-screen" style="background-color: #F10000">
  
  <ion-list no-lines>

  <ion-item class="text-white">
    <ion-label floating class="text-white">Nombre</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.name"></ion-input>
  </ion-item>

  <ion-item class="text-white">
    <ion-label floating class="text-white">Apellido</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.lastname"></ion-input>
  </ion-item>

  <ion-item class="text-white">
    <ion-label floating class="text-white">Telefono movil</ion-label>
    <ion-input type="tel" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.mobile"></ion-input>
  </ion-item>

  <ion-item class="text-white">
    <ion-label floating class="text-white">E-mail</ion-label>
    <ion-input type="email" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.email"></ion-input>
  </ion-item>

  <ion-item class="text-white">
    <ion-label floating class="text-white">Password</ion-label>
    <ion-input type="password" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.hashseed"></ion-input>
  </ion-item>

   <ion-item class="text-white">
      <ion-label class="text-white">Fecha de nacimiento</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="usercoin.birthday"></ion-datetime>
   </ion-item>
<ion-item class="text-white">
   <ion-label class="text-white">Sexo</ion-label>
    <ion-select [(ngModel)]="usercoin.sex">
      <ion-option value="M">Masculino</ion-option>
      <ion-option value="F">Femenino</ion-option>
      <ion-option value="O">Otro</ion-option>
      
    </ion-select>
    </ion-item >

  <ion-item >
    <ion-label floating class="text-white">Tarjeta (16 digitos)</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.card"></ion-input>
  </ion-item>

  <ion-item class="text-white">
    <ion-label floating class="text-white">CCV</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.ccv"></ion-input>
  </ion-item>

 

   <ion-item class="text-white">
      <ion-label class="text-white">Fecha de vencimiento</ion-label>
      <ion-datetime displayFormat="MM/YY" max="2025" (ngModelChange)="reUpdateExpiration()" [(ngModel)]="usercoin.cardexpire"></ion-datetime>
   </ion-item>


  

  <ion-item >
  <button class="white-button item-button-height" fab-center (click)="preAttemptUpdate()">&nbsp;&nbsp;Registrarse</button>
  </ion-item>
  <ion-item >
  
  </ion-item>

</ion-list>

<form action="/save_customer_card" method="POST" id="customer-form" style="display:none;">
        <fieldset>
        <p>
          
          <input type="text" size="20" [(ngModel)]="usercoin.name" autocomplete="on" name="client_name"/>
        </p>
        <p>
          
          <input type="text" size="20" autocomplete="on" name="cliente_email" [(ngModel)]="usercoin.email"/>
        </p>
        </fieldset>
        <fieldset>
          
        <p>
          
          <input type="text" size="20" [(ngModel)]="usercoin.name" autocomplete="off"
            data-openpay-card="holder_name" />
        </p>
        <p>
          
          <input type="text" size="20" autocomplete="off"
            data-openpay-card="card_number" [(ngModel)]="usercoin.card"/>
        </p>
        <p>
          
          <input type="text" size="4" autocomplete="off"
            data-openpay-card="cvv2" [(ngModel)]="usercoin.ccv"/>
        </p>
        <p>
          
          <input type="text" size="2" data-openpay-card="expiration_month" [(ngModel)]="usercoin.expiremonth" /> /
          <input type="text" size="2" data-openpay-card="expiration_year" [(ngModel)]="usercoin.expireyear" />
        </p>
        </fieldset>
        
</form>

</ion-content>
