.registration-screen {

}
.text-white{
	color: #fff !important;
}

.white-button{
	background-color:#fff !important;
	color: rgb(158, 18, 18) !important;
}
.outline-white{
	color:#fff !important;
	border-color:#fff !important;
}