.dispatch {
	
}

[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: '';
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  border-radius: 4px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */
/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: rgba(0, 0, 0, 0.6);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  transform: translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.6);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  transform: translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.6);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  transform: translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.6);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 50%;
  margin-top: -6px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

/* Variables */
/* Timelinz class */
.timelinz {
  position: relative;
  margin-top: 80px;
}

.timelinz,
.timelinz * {
  box-sizing: border-box;
}

.timelinz__interval-wrap {
  overflow: hidden;
}

.timelinz__interval {
  position: relative;
  line-height: 12px;
  text-align: right;
  font-size: 12px;
}

.timelinz__interval + .timelinz__interval {
  margin-top: 60px;
}

.timelinz__interval:after {
  height: 1px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: 60px;
  content: ' ';
  background-color: rgba(255, 255, 255, 0.15);
}

.timelinz__interval-time {
  width: 55px;
  display: inline-block;
  text-align: left;
  opacity: .5;
}

.timelinz__line {
  width: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity .3s ease-in-out;
}

.timelinz__line-title {
  width: 100%;
  position: absolute;
  top: -90px;
  white-space: nowrap;
  text-align: center;
}

.timelinz__line-wrap {
  position: absolute;
  top: 0;
  right: 55px;
  bottom: 0;
  left: 70px;
}

.timelinz__line-wrap:hover .timelinz__line {
  opacity: .2;
}

.timelinz__line-wrap:hover .timelinz__line:hover {
  opacity: 1;
}

.timelinz__empty-line {
  display: none;
}

.timelinz__filled-line {
  width: 2px;
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
  background: #f7ab14;
}

.timelinz__point {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -10px;
  border-radius: 10px;
  border: 2px solid #f7ab14;
  background-color: #5d503e;
}

.timelinz__point span {
  width: 12px;
  height: 12px;
  margin: 0 0 1px 2px;
  display: inline-block;
  background-color: #f7ab14;
  border-radius: 6px;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.timelinz__point:hover span {
  opacity: 1;
}

.timelinz__point_has_image {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  padding: 3px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}

.timelinz__point-img {
  max-width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
}



#alert {
  margin-bottom: 0;
  border-radius: 0;
}

#header {
  min-height: 550px;
  padding-top: 32px;
  background: center top url("../images/bg.png") #070707;
  background-size: cover;
}

.navbar .nav > li > a {
  color: #fff;
  opacity: .7;
  transition: opacity .2s ease-out;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  opacity: 1;
  background: none;
}

.navbar .nav > li.active > a {
  opacity: 1;
  background: none;
  line-height: 1.42;
}

.navbar .nav > li.active > a::after {
  width: 40%;
  height: 1px;
  content: '';
  display: block;
  margin-top: 3px;
  background-color: #f7ab14;
}

.navbar .nav .btn {
  margin-left: 20px;
  padding: 9px 18px;
}

.hero {
  padding-top: 60px;
  color: #fff;
}

.hero h1 {
  margin-bottom: 25px;
  font-size: 60px;
}

.hero p {
  font-size: 20px;
}

#main {
  min-height: 300px;
  padding: 60px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-width: 1px 0;
  color: #fff;
  background: radial-gradient(50% 128%, #73634C 17%, #231E17 100%) #4B4032;
}

#main h2 {
  margin-bottom: 20px;
}

#main p {
  font-size: 18px;
}

.speaker {
  display: inline-block;
  color: #fff;
}

.speaker:focus, .speaker:hover {
  color: #fff;
  text-decoration: none;
}

.speaker img {
  width: 64px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  border-radius: 30px;
  border: 4px solid rgba(255, 255, 255, 0.15);
}

.speaker-inner {
  display: inline-block;
}

.speaker-name {
  margin: 6px 0 0;
}

.speaker-job {
  opacity: .5;
}

#footer {
  height: 160px;
  line-height: 16px;
  padding-top: 50px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  background: center top url("../images/bg.png") #070707;
  background-size: cover;
  background-position: center bottom;
}
