<!--
  
-->
<link wp-href="shared/main.css" rel="stylesheet"> 

<ion-navbar *navbar>
<button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Dispatcher
  </ion-title>
  <ion-buttons end>
 
    <button (click)="addMarker()">
    <img src="http://hometogo.com.ua/media/original_images/ava-big.jpeg" width="30" style="border-radius: 50%;">
    {{currentUser.content.name}} {{currentUser.content.lastname}}</button>
  </ion-buttons>  
</ion-navbar>

<ion-content padding class="dispatch">
  

	<div id="main" role="main">
      
        <div class="col-sm-6">
          <h2 id="point-title" class="inline-block half-underline"></h2>
          <p id="point-desc"></p>

          <h2 id="speakers-title" class="inline-block half-underline hidden">Speakers</h2>
          <div id="speakers"></div>
        </div>

        <div id="timeline" class="col-sm-6"></div>
      
    </div>


</ion-content>
<script src="shared/timelinz.js"></script>
<script src="shared/diom.js"></script>
 <script src="shared/main.js"></script>
