<ion-toolbar>
  <ion-title>
    Dirección destino
  </ion-title>
  <ion-buttons start>
    <button (click)="close()">
      <span primary >Cancelar</span>
      <ion-icon name="md-close" ></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>


<ion-content padding >
  
  <ion-list no-lines>

  <ion-item >
    <ion-label stacked >Nombre destinatario</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.name"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label stacked >Pais</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.country"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label stacked >Estado</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.city"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label stacked >Localidad/Municipio</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.county"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label stacked >Colonia</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.street2"></ion-input>
  </ion-item>

    <ion-item >
    <ion-label stacked >Calle</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.street"></ion-input>
  </ion-item>

  

  <ion-item >
    <ion-label stacked >Numero exterior</ion-label>
    <ion-input type="tel" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.num"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label stacked >Numero interior</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.num_in"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label stacked >Codigo Postal</ion-label>
    <ion-input type="tel" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.postal_code"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label stacked >Telefono</ion-label>
    <ion-input type="tel" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.phone"></ion-input>
  </ion-item>
  <!-- <ion-item >
    <ion-label floating >Notas adicionales</ion-label>
    <ion-input type="text" style="border-bottom: 2px solid black;" [(ngModel)]="usercoin.ccv"></ion-input>
  </ion-item> -->




  

  <ion-item class="ion-item-center-content">
  <button *ngIf="stepNumber==0" class="item-button-height " primary  (click)="attemptRecollection()">Iniciar recolección</button>
  </ion-item>
  <ion-item >
  
  </ion-item>

</ion-list>
</ion-content>
