.scroll {
    height: 100%;
}
 
.buttons-fab-page {

  .fab-footer {
    z-index: 99;
  }

  .bar-footer {
    background: url(../../img/footer-wireframe.png) repeat-x;
    height: 2px;

    position: absolute;
    right: 0;
    bottom: 44px;
    left: 0;
  }

}

.center-first-step{
  bottom: 165px;
    left: 10px;
    width: 97%;
}
.center-second-step{
  bottom: 160px;
    left: 10px;
    width: 97%;
}

.center-first2-step{
  bottom: 210px;
    left: 10px;
    width: 97%;
}
.center-second2-step{
  bottom: 210px;
    left: 10px;
    width: 97%;
}