<ion-navbar *navbar>
<button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Servicios
  </ion-title>
  <ion-buttons end>
 
    <button (click)="addMarker()">
    {{currentUser.content.name}} {{currentUser.content.lastname}}</button>
  </ion-buttons>  
</ion-navbar>
 
<ion-content>

  <div id="map" style="width: 100%;height: 100%;"></div>  
  <button (click)="openRequestWindow()" *ngIf="stepNumber==0" fab primary fab-bottom fab-center class="fab-footer buttons_bottom_phone">
    <ion-icon name="add" is-active="false"></ion-icon>
  </button>

  <!-- <button fab danger fab-top fab-center style="width:30px;height:30px;top:40%">
    <ion-icon name="flag" is-active="true"></ion-icon>
  </button> -->
  <button primary (click)="gotoThirdStep()"block class="fab-footer center-first-step" *ngIf="stepNumber==1" fab-bottom>Establecer como recolección</button>

   <button light block class="fab-footer center-second-step" (click)="cancelRequest()" *ngIf="stepNumber==1" fab-bottom>Cancelar</button>

   <button primary (click)="requestSelectedRecolection()" block class="fab-footer center-first2-step" *ngIf="stepNumber==2" fab-bottom>Establecer como destino</button>

   <button primary (click)="openManualAddress()" block class="fab-footer center-first2-step" *ngIf="stepNumber==2" fab-bottom>Escribir dirección</button>

   <button light block class="fab-footer center-second2-step" (click)="cancelRequest()" *ngIf="stepNumber==2" fab-bottom>Cancelar</button>
  
  <div class="bar-footer"></div>
</ion-content>