<!--
  Generated template for the GiftPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>gift</ion-title>
</ion-navbar>

<ion-content padding class="gift">
  
</ion-content>
