<ion-navbar *navbar>
<button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    {{titleOrETA}}
  </ion-title>
  <ion-buttons end>
 
    <button (click)="addMarker()">
    {{currentUser.content.name}} {{currentUser.content.lastname}}
    </button>
  </ion-buttons>  
</ion-navbar>
 
<ion-content>

  <div id="map" style="width: 100%;height: 100%;"></div>  
  
   <button fab danger fab-top fab-center *ngIf="isDriverOnService()" (click)="cancelOrder()">
    <ion-icon name="close" is-active="false"></ion-icon>
  </button>

  <ion-grid>
  <ion-row>
    <ion-col width-33>

    <button primary round fab fab-bottom fab-left class="fab-footer" fab-center *ngIf="partialShowButton()" (click)="gotoChat()" style=""  [ngClass]="bottomStyleMac()">
      <ion-icon name='chatbubbles' is-active="false"></ion-icon>
      Chat
  </button>
      
    </ion-col>
    <ion-col width-33>
      <button primary round fab fab-bottom class="fab-footer button-center" fab-center *ngIf="partialShowButton()" (click)="callNumber()" [ngClass]="bottomStyleMac()">
      <ion-icon name='call' is-active="false"></ion-icon>
      Llamar
  </button>
    </ion-col>
    <ion-col width-33>
      <button primary round fab fab-bottom *ngIf="showEPOD()" (click)="requestEPOD()" class="fab-footer button-center " [ngClass]="bottomStyleMac()" [ngStyle]="{'float':'right','margin-right':'-10px'}">
      <ion-icon name='clipboard' is-active="false" ></ion-icon>
      E-POD
  </button>
    </ion-col>
  </ion-row>
</ion-grid>
 
  
  

  <button primary (click)="startLoading()" block class="fab-footer center-first-step" *ngIf="stepNumber==1" fab-bottom [ngClass]="bottomStyleMac()">Iniciar carga de material</button>

  <button danger (click)="finishLoading()"block class="fab-footer center-first-step" *ngIf="stepNumber==2" fab-bottom [ngClass]="bottomStyleMac()">Terminar carga de material</button>

  <button primary (click)="startUnloading()" block class="fab-footer center-first-step" *ngIf="stepNumber==3" fab-bottom [ngClass]="bottomStyleMac()">Iniciar descarga de material</button>

  <button danger (click)="finishUnloading()"block class="fab-footer center-first-step" *ngIf="stepNumber==4" fab-bottom [ngClass]="bottomStyleMac()">Terminar descarga de material</button>



  <ion-toolbar position="bottom">
  
  </ion-toolbar>


</ion-content>