<ion-toolbar>
  <ion-title>
    Orden entrante
  </ion-title>
  <ion-buttons start>
    <button (click)="close()">
      <span primary >Cancelar</span>
      <ion-icon name="md-close" ></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
<ion-content padding>
    


<ion-card>
  <img src="{{ generateImagePoints() }}">
  <button fab fab-right fab-top>
    <ion-icon name="pin"></ion-icon>
  </button>

  <ion-item>
    <ion-icon name="football" item-left large></ion-icon>
    <h2>Direccion de entrega</h2>
    <p>{{direccion}}</p>
  </ion-item>

  <!-- <ion-item>
    <ion-icon name="wine" item-left large ></ion-icon>
    <h2>Institute of Fine Cocktails</h2>
    <p>14 S. Hop Avenue, Madison, WI 53703</p>
  </ion-item> -->
  

  <ion-item>
    <span item-left>18 min</span>
    <span item-left>(2.6 mi)</span>
    <button primary clear item-right>
      <ion-icon name="navigate"></ion-icon>
      Start
    </button>
  </ion-item>

</ion-card>
    <div class='container-pulse'>
  		<span class='pulse-button' (click)="acceptIncomingOrder()">Aceptar</span>
	</div>
    
<audio autoplay>
  <source src="img/tone.mp3" type="audio/mpeg">

</audio>
	<!-- <button (click)="close()">Close</button> -->
 </ion-content>