<ion-toolbar>
  <ion-title>
    Prueba de entrega
  </ion-title>
  <ion-buttons start>
    <button (click)="close()">
      <span primary >Cancelar</span>
      <ion-icon name="md-close" ></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>


<ion-content padding>

<div id="elementoPrueba"></div>
<canvas id="signatureCanvas" class="signature-canvas"></canvas>
<div class='button-bar'>
<button outline (click)="completeJob()">Confirmar</button>
<button danger clear (click)="clearCanvas()">Borrar</button>
    
</div>
<br>


 </ion-content>