<!-- <ion-header>

  <ion-navbar>
    

    

    <ion-buttons end>
      <button (click)="openModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->
<ion-slides pager>

  <!-- <ion-slide style="background-image: url(img/welcome/slider1empaking.png);background-repeat: no-repeat;background-position: center; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;transform: translate3d(0%, 0px, 0px);">
    
  </ion-slide>

  <ion-slide style="background-image: url(img/welcome/slider2empaking.png);background-repeat: no-repeat;background-position: center; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;transform: translate3d(0%, 0px, 0px);">
    
  </ion-slide>

  <ion-slide style="background-image: url(img/welcome/slider3empaking.png);background-repeat: no-repeat;background-position: center; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;transform: translate3d(0%, 0px, 0px);">
    
  </ion-slide>

  <ion-slide style="background-image: url(img/welcome/slider4empaking.png);background-repeat: no-repeat;background-position: center; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;transform: translate3d(0%, 0px, 0px);">
  <button fab-bottom fab-right fab dark (click)="neverShowAgain()">Iniciar</button>
  </ion-slide> -->
  <ion-slide style="background-color:white">
    <img src="img/welcome_1.png" width="80%"/>
    <h1>Pide un favor</h1>
    <p>Puedes pedir servicios de entrega o un ride desde tu celular</p>
  </ion-slide>
  <ion-slide style="background-color:white">
      <img src="img/welcome_3.png" width="80%"/>
      <h1>Envia</h1>
    <p>Envios locales el mismo día, pasamos por tu paquete y entrega a donde nos digas</p>
  </ion-slide>
  <ion-slide style="background-color:white">
      <img src="img/welcome_2.png" width="80%" />
      <h1>Rastrea</h1>
    <p>Puedes rastrear el progreso de tu envio en tiempo real, ¡empieza ahora mismo!</p>
  </ion-slide>
  <ion-slide style="background-color:white">
      <img src="img/welcome_4.png" width="80%" />
      <h1>Servicios</h1>
    <p>Selecciona el tipo de servicio que se adapte a tu presupuesto</p>
    <button fab-bottom fab-right fab dark (click)="neverShowAgain()">Iniciar</button>
  </ion-slide>

</ion-slides>