<ion-navbar *navbar>
<button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Historial de ordenes
  </ion-title>
  <ion-buttons end>
 
    <button (click)="addMarker()">
    {{currentUser.content.name}} {{currentUser.content.lastname}}
    </button>
  </ion-buttons>  
</ion-navbar>

<ion-content class="conversation">
<ion-card *ngFor="let singleOrder of fullHistory; let i = index">

  <img src="{{ generateImagePoints(singleOrder.points) }}">
  <!-- <button fab fab-right fab-top>
    
  </button> -->

  <ion-item>
    <ion-icon name="pin" item-left large></ion-icon>
    <h2>Dirección de entrega</h2>
    <p>{{singleOrder.deliv_addres1}}</p>
    <p>{{singleOrder.deliv_addres2}}</p>
  </ion-item>

  <ion-item>
    <ion-icon name="card" item-left large></ion-icon>
    <h2>Pagos generados</h2>
    <p *ngFor="let singlePayment of singleOrder.payments">${{singlePayment.amount}} MXN,{{singlePayment.notes}}</p>
  </ion-item>

 

   <ion-item>
    <ion-icon name="clipboard" item-left large></ion-icon>
    <h2>Status</h2>
    <p >{{singleOrder.statustxt}}</p>
  </ion-item>

  <ion-item>
    <ion-icon name="cube" item-left large></ion-icon>
    <h2>Identificador de orden</h2>
    <p >{{singleOrder.unique}}</p>
  </ion-item>

  <!-- <ion-item>
    <ion-icon name="wine" item-left large ></ion-icon>
    <h2>Institute of Fine Cocktails</h2>
    <p>14 S. Hop Avenue, Madison, WI 53703</p>
  </ion-item> -->

  <ion-item>
    <span item-left>{{singleOrder.fulltime}} min</span>
    <span item-left>({{singleOrder.fulldistance}} km)</span>
    <button primary clear item-right *ngIf="isAvailableToStart(singleOrder.status)" (click)="acceptIncomingOrder(singleOrder.id)">
      <ion-icon name="navigate"></ion-icon>
      Iniciar
    </button>
  </ion-item>

</ion-card>

</ion-content>