<!--
  Generated template for the LogoutPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title></ion-title>
</ion-navbar>

<ion-content padding class="logout">
  
</ion-content>
