
<!-- <ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Login Screen</ion-title>
</ion-navbar> -->


<ion-content padding class="login-screen" style="/*background-image: url(img/intro_2.gif);*/background-repeat: no-repeat;background-position: center; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;" style="background-color: #F10000">

<video preload="auto" autoplay playsinline muted loop webkit-playsinline id="myVideo">
  <source src="img/unfavor3.mp4" type="video/mp4">
</video>
<div class="display-gradient" >
<div class="row">
    <div class="col col-75 col-offset-10 text-center">
      <!-- <img src="img/crossfit_logo2.png" style="width: 200px"> -->
      <img *ngIf="NEO" src="img/logo_trucks1.png" style=" display: block;margin-left: auto;margin-right: auto;">
      <img *ngIf="!NEO" src="img/logo_solo_empaking.png" style=" display: block;margin-left: auto;margin-right: auto;">
    </div>
    </div>
  <ion-list no-lines>

  <ion-item class="text-white">
    <ion-label stacked class="text-white"><b>E-mail</b></ion-label>
    <ion-input class="text-white" type="email" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.userEmail"></ion-input>
  </ion-item>
<ion-item>
  
    
  
</ion-item>
  <ion-item class="text-white">
    <ion-label stacked class="text-white"><b>Password</b></ion-label>
    <ion-input class="text-white" type="password" style="border-bottom: 2px solid white;" [(ngModel)]="usercoin.userPwd"></ion-input>
  </ion-item>

  
  <ion-item class="ion-item-center-content">
  <button outline class="outline-white item-button-height" (click)="loginProcess()">Iniciar sesión</button>
  </ion-item>

  <ion-item class="ion-item-center-content">
  <button class="white-button item-button-height" (click)="gotoRegistration()">&nbsp;&nbsp;Registrarse</button>
  </ion-item>
</ion-list>
</div>

</ion-content>
