ion-item{
  	background-color:transparent !important;
}

.text-white{
	color: #fff !important;
}
.login-screen{
input.text-input.ng-valid.ng-dirty.ng-touched{
	color:#fff !important;
}
}
.item-button-height {
	height:36px;
}
.ion-item-center-content{
	text-align: center !important;
}
.white-button{
	background-color:#fff !important;
	color: rgb(158, 18, 18) !important;
}
.outline-white{
	color:#fff !important;
	border-color:#fff !important;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -100;
  }
  .display-gradient {
    padding: 25px 25px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    // z-index:1000;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -webkit-box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.34);
    &:hover {
      -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.34);
      -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.34);
      box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.34);
    }
    p {
      padding: 0px;
      margin: 0px;
      color: #fff;
      font-size: 10pt;
      text-align: center;
    }
  }
  