<!--
  Generated template for the ShowOrdersPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>showOrders</ion-title>
</ion-navbar>

<ion-content padding class="show-orders">
  
</ion-content>
